<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http auto-config="true">
		<security:intercept-url pattern="/home"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/posts*"
			access="hasAuthority('user')" />
		<security:intercept-url pattern="/users*"
			access="hasAuthority('admin')" />
		<security:intercept-url pattern="/login*"
			access="permitAll" />
		<security:intercept-url pattern="/forgot_password/**"
			access="permitAll" />
		<security:intercept-url pattern="/reset_password*"
			access="permitAll" />
		<security:intercept-url pattern="/reset_password/**"
			access="permitAll" />
		<security:intercept-url pattern="/api/**"
			access="permitAll" />
		<security:intercept-url pattern="/**"
			access="isAuthenticated()" />
			<security:intercept-url pattern="/resources/**"
			access="isAuthenticated()" />
		<security:form-login login-page="/login"
			login-processing-url="/login" username-parameter="username"
			password-parameter="password" default-target-url="/home" />
		<security:logout logout-url="/logout"
			logout-success-url="/login" invalidate-session="true" />
		<security:csrf disabled="true" />

		<!-- remember me -->
		<security:remember-me key="uniqueRememberMeKey"
			user-service-ref="myUserDetailsService"
			remember-me-parameter="remember-me"
			remember-me-cookie="rememberMeCookie" />
		<!-- remember me -->
	</security:http>

	<bean id="rememberMeCookie"
		class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
		<constructor-arg
			value="uniqueRememberMeKey" />
		<constructor-arg
			ref="myUserDetailsService" />
	</bean>

	<!-- Configure password encoder -->
	<bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<!-- Configure authentication manager -->
	<security:authentication-manager>
		<security:authentication-provider
			user-service-ref="myUserDetailsService">
			<security:password-encoder
				ref="passwordEncoder" />
		</security:authentication-provider>
	</security:authentication-manager>

	<bean id="myUserDetailsService"
		class="springblog.bl.services.auth.MyUserDetailsService" />

</beans>  